<%= form_for(@owner) do |f| %>
  <% if @owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

      <ul>
      <% @owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form class="form-inline" role="form">
  <div class="form-group">
    <div class="actions">
    <%= f.submit %>
  </div>
    <%= f.text_field :name, class: "form-control", placeholder: "Owner Name" %>
    </div>
    <div class="form-group">
    <%= f.text_field :address, class: "form-control", placeholder: "Owner Address"%>
    </div>
    <div class="form-group">
    <%= f.text_area :contact_info, class: "form-control", placeholder: "Contact Info" %>
  </div>
  <div class="field cant-see-me">
    <%= f.number_field :vehicle_id, value: @vehicle.id %>
    </div>
  </form>
<% end %>
