<p id="notice"><%= notice %></p>

<h1>Vehicles</h1>

<div class='row'>
    <% @vehicles.each do |car| %>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
         <%= link_to car.make, car%>
          </div>
          <div class="panel-body">
         Model: <%= car.model %><br />
        Year: <%= car.year %><br />
        Location: <%=  car.location %> <br />
        Description: <%= truncate(car.description, length: 300, separator: " ") %> <br /><%= link_to 'Read More', car %>
      <%= image_tag car.avatar.url(:medium), class: "img-responsive" %>
        </div>
        <div class="panel-footer">
        <%= link_to 'Edit', edit_vehicle_path(car), class: "btn btn-warning" %>
        <%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
      </div>
      </div>
    <% end %>
    </div>


<br>

<%= link_to 'New Vehicle', new_vehicle_path, class: "btn btn-default"  %>
