<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <div class="container">
    <div class="head">
    <h1>Car</h1>
    </div>
    </div>
<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vehicle.description %>
</p>
<%= image_tag @vehicle.avatar.url(:medium), class: "img-responsive" %>

<p>
  <strong>Location:</strong>
  <%= @vehicle.location %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
</div>